*{
    margin: 0;
    padding: 0;
    font-family: "Raleway-Regular";
}

body{
    background: #F5F5F5;
}

@font-face {
    font-family: "Raleway-ExtraBold";
    src: url('../fonts/Raleway-ExtraBold.ttf') format('opentype');
}

@font-face {
    font-family: "Raleway-Bold";
    src: url('../fonts/Raleway-Bold.ttf') format('opentype');
}

@font-face {
    font-family: "Raleway-Medium";
    src: url('../fonts/Raleway-Medium.ttf') format('opentype');
}

@font-face {
    font-family: "Raleway-Regular";
    src: url('../fonts/Raleway-Regular.ttf') format('opentype');
}

@font-face {
    font-family: "Raleway-Light";
    src: url('../fonts/Raleway-Light.ttf') format('opentype');
}

.main-layout{
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;   
}

.text-with-line{
    display: flex;
    align-items: center;
}

.text-with-line img:last-child{
    margin-right:15px;
}