/* home */


/* -----------menu----------- */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 100px;
}

.menu .logo {
    width: 207px;
    height: 49px;
}

.menu ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu .menu-icon {
    display: none;
}

.menu ul li {
    font-size: 15px;
}

.menu ul li:not(:last-child) {
    margin-right: 68px;
}

.menu ul li:last-child {
    border: 1px dashed #000000;
    border-radius: 20px;
    padding: 18px 32px;
}

.menu ul li:last-child:hover {
    border: 1px solid #000000;
    cursor: pointer;
}

.menu ul li a {
    color: #131815;
    text-decoration: none;
    font-family: "Raleway-Bold";
}

/* -----------header information----------- */

.header-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-info-text {
    max-width: 450px;
}

.header-info h2 {
    font-family: "Raleway-ExtraBold";
    font-size: 64px;
    margin-bottom: 32px;
    color: #131815;
    position: relative;
}

.header-info h2 img {
    position: absolute;
    left: -27px;
    bottom: -21px;
    width: 185px;
    height: 112px;

}

.header-info p {
    font-size: 16px;
    margin-bottom: 32px;
    color: #131815;
    line-height: 34px;
}

.header-info button {
    font-family: "Raleway-Bold";
    background: #131815;
    border-radius: 20px;
    padding: 18px 46px;
    color: #FFFFFF;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    border: none;
    box-sizing: border-box;
}

.header-info button:hover {
    color: #131815;
    background-color: #FFFFFF;
    outline: 1px solid #131815;
    transition: 0.3s;
}

.header-img-wrapper {
    width: 58%;
}

.header-img-wrapper img {
    width: 100%;
}










/* ---------about section--------- */

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 230px;
    margin-bottom: 90px;
}

.about-section h3 {
    font-size: 56px;
    font-family: "Raleway-ExtraBold";
    color: #131815;
    max-width: 465px;
}

.about-section p {
    font-size: 18px;
    color: #131815;
    line-height: 34px;
    max-width: 540px;
}









/* ----------black-section---------- */

.black-section {
    background: #131815;
    width: 100%;
}

.black-section-mind {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
    align-items: center;
}

.black-section-mind .left-side {
    max-width: 400px;
}

.black-section-mind .left-side img {
    width: 100%;
}

.black-section-mind .right-side {
    max-width: 590px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.black-section-mind .right-side h3 {
    font-size: 56px;
    font-family: "Raleway-ExtraBold";
    color: #FFFFFF;
    margin-bottom: 28px;
    position: relative;
}

.black-section-mind .right-side h3 img {
    position: absolute;
    position: absolute;
    top: -7px;
    left: 275px;
    width: 130px;
    height: 95px;
}

.black-section-mind .right-side h3 span {
    padding-left: 20px;
    font-family: "Raleway-ExtraBold";
}

.black-section-mind .right-side button {
    background: #FFFFFF;
    font-size: 15px;
    border-radius: 20px;
    font-family: 'Raleway-Medium';
    padding: 18px 60px;
    cursor: pointer;
    font-family: "Raleway-Bold";
}

.black-section-mind .right-side button:hover {
    color: #FFFFFF;
    background-color: #131815;
    outline: 1px solid #FFFFFF;
    transition: 0.3s;
}



/* --------features-section--------r */

.features-section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.features-section>p {
    font-size: 18px;
    text-align: center;
    color: #131815;

}

.features-section>h3 {
    font-family: "Raleway-ExtraBold";
    font-size: 56px;
    color: #131815;
    margin-bottom: 40px;
    margin-top: 15px;
    text-align: center;
}

.owl-slider .item {
    box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(2px);
    border-radius: 25px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px;
}

.owl-slider .item img {
    width: 80px;
    height: 110px;
    text-align: left;
    width: fit-content !important;
}

.owl-slider .item h4 {
    font-size: 26px;
    color: #131815;
    margin-top: 33px;
    margin-bottom: 23px;
    font-family: "Raleway-Bold";
}

.owl-slider .item p {
    font-size: 18px;
    line-height: 34px;
    color: #000000;
}

.owl-theme .owl-dots .owl-dot span {
    border: 1px solid #000000;
    background: white !important;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #000000 !important;
}





/* ---------portfolio-section--------- */

.portfolio-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 124px;
}

.portfolio-section>p {
    font-size: 18px;
    text-align: center;
    color: #131815;

}

.portfolio-section>h3 {
    font-family: "Raleway-ExtraBold";
    font-size: 56px;
    color: #131815;
    margin-bottom: 40px;
    margin-top: 15px;
    text-align: center;
}

.portfolio-section>div {
    margin-bottom: 54px;
}

.portfolio-section>div>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.portfolio-section button {
    padding: 18px 30px;
    font-size: 15px;
    color: #131815;
    border: 1px dashed #000000;
    border-radius: 20px;
    outline: none;
    width: fit-content;
    margin: 0 auto;
    background: #FFFFFF;
    font-family: "Raleway-Bold";
    cursor: pointer;
    display: flex;
    align-items: center;
}

.portfolio-section button:hover {
    border: 1px solid #000000;
}

.portfolio-section button:hover img {
    animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.portfolio-section button img {
    margin-right: 14px;
}

@keyframes rotate-in-center {
    0% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        opacity: 1;
    }
}



/* ------------black-section-get-in-touch------------ */
.black-section-get-in-touch {
    display: flex;
    /* justify-content: space-between; */
    padding-top: 100px;
    padding-bottom: 100px;
}

.black-section-get-in-touch .left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 446px;
    margin-right: 180px;
}

.black-section-get-in-touch .left-side h3 {
    font-size: 56px;
    color: #FFFFFF;
    font-family: "Raleway-ExtraBold";
    margin-bottom: 50px;
}

.black-section-get-in-touch .left-side-text {
    font-size: 18px;
    color: #FFFFFF;
    margin-bottom: 50px;
    line-height: 34px;
}

.black-section-get-in-touch .left-side-email {
    font-size: 18px;
    color: #FFFFFF;
}

.black-section-get-in-touch .left-side-email span {
    color: #6ADA82;
}

.black-section-get-in-touch .right-side form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
}

.black-section-get-in-touch .right-side form input,
.black-section-get-in-touch .right-side form textarea {
    width: 95%;
    background: #131815;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    padding: 16px 16px 16px 0;
    font-size: 15px;
    color: #FFFFFF;
    outline: none;
}

.black-section-get-in-touch .right-side form input:focus,
.black-section-get-in-touch .right-side form textarea:focus {
    border-bottom: 1px dashed #FFFFFF;
}

.black-section-get-in-touch .right-side form button {
    font-family: "Raleway-Bold";
    padding: 18px 27px;
    color: #131815;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    border: none;
    background: #FFFFFF;
    border-radius: 20px;
    margin-top: 50px;
}

.black-section-get-in-touch .right-side form button:hover {
    color: #FFFFFF;
    background-color: #131815;
    outline: 1px solid #FFFFFF;
    transition: 0.3s;
}


.black-section-get-in-touch .right-side form input {
    margin-bottom: 32px;
}

.black-section-get-in-touch .right-side form textarea {
    resize: none;
}



/* --------footer-------- */

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
}

.footer>p {
    font-size: 15px;
    color: #131815;
}

.footer ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.footer .menu-icon {
    display: none;
}

.footer ul li {
    font-size: 15px;
}

.footer ul li a {
    color: #131815;
    text-decoration: none;
    font-family: "Raleway-Bold";
}

.footer ul li:not(:last-child) {
    margin-right: 68px;
}



@media screen and (max-width: 1279px) {
    .header-info {
        flex-direction: column;
    }

    .header-info-text {
        margin-right: 0px;
        min-width: 100%;
        margin-bottom: 60px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header-info h2 {
        font-size: 48px;
    }

    .header-info h2 img {
        display: none;
    }

    .menu ul {
        display: none;
    }

    .menu .menu-icon {
        display: block;
    }

    .header-info p {
        max-width: 600px;
    }

    .header-img-wrapper {
        width: 80%;
        max-width: 711px;
    }

    /* ---------about section--------- */

    .about-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        margin-top: 100px;
        margin-bottom: 60px;
    }

    .about-section h3 {
        font-size: 44px;
        max-width: 600px;
        text-align: center;
        margin-bottom: 30px;
    }

    .about-section p {
        font-size: 18px;
        max-width: 600px;
        text-align: center;
    }

    /* ----------black-section---------- */

    .black-section {
        background: #131815;
        width: 100%;
    }

    .black-section-mind {
        display: flex;
        justify-content: space-between;
        padding-top: 80px;
        padding-bottom: 80px;
        align-items: center;
        flex-direction: column;
    }

    .black-section-mind .left-side {
        max-width: 400px;
        width: 80%;
        margin-bottom: 60px;
    }

    .black-section-mind .left-side img {
        width: 100%;
    }

    .black-section-mind .right-side {
        max-width: 590px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .black-section-mind .right-side h3 {
        font-size: 44px;
        margin-bottom: 28px;
    }

    .black-section-mind .right-side h3 img {
        display: none;
    }

    .black-section-mind .right-side h3 span {
        padding-left: 0;
    }


    /* --------features-section--------r */

    .features-section {
        max-width: 600px;
        margin: 80px auto;
    }

    .features-section>h3 {
        font-size: 44px;
    }

    .owl-slider .item {
        margin: 25px;
        padding: 25px;
    }



    /* ---------portfolio-section--------- */

    .portfolio-section {
        display: flex;
        flex-direction: column;
        margin-bottom: 124px;
    }

    .portfolio-section>p {
        font-size: 18px;
    }

    .portfolio-section>h3 {
        font-family: "Raleway-ExtraBold";
        font-size: 44px;
        margin-bottom: 40px;
    }

    .portfolio-section>div {
        margin-bottom: 54px;
    }

    .portfolio-section>div>div {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        max-width: 600px;
        margin: 0 auto;
    }

    .portfolio-section>div>div img {
        width: 24%;
    }

    .portfolio-section button {
        padding: 18px 30px;
        font-size: 15px;
        color: #131815;
        border: 1px dashed #000000;
        border-radius: 20px;
        outline: none;
        width: fit-content;
        margin: 0 auto;
        background: #FFFFFF;
        font-family: "Raleway-Bold";
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .portfolio-section button img {
        margin-right: 14px;
    }




    /* ------------black-section-get-in-touch------------ */

    .black-section-get-in-touch {
        flex-direction: column;
        align-items: center;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .black-section-get-in-touch .left-side {
        flex-direction: column;
        align-items: center;
        max-width: 446px;
        margin-right: 0;
    }

    .black-section-get-in-touch .left-side h3 {
        font-size: 44px;
        font-family: "Raleway-ExtraBold";
        margin-bottom: 53px;
        text-align: center;
    }

    .black-section-get-in-touch .left-side-text {
        font-size: 18px;
        color: #FFFFFF;
        margin-bottom: 30px;
        line-height: 34px;
        text-align: center;
    }

    .black-section-get-in-touch .left-side-email {
        font-size: 18px;
        color: #FFFFFF;
        margin-bottom: 50px;
    }

    .black-section-get-in-touch .right-side {
        max-width: 400px;
        min-width: 300px;
    }

    .black-section-get-in-touch .right-side form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-width: 400px;
        width: 100%;
    }

    .black-section-get-in-touch .right-side form button {
        margin-left: auto;
        margin-right: auto;
    }

    /* -----------footer----------- */

    .footer {
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .footer>p {
        margin-top: 40px;
        order: 1;
    }

    .footer ul {
        flex-direction: column;
        align-items: center;
    }

    .footer ul li {
        margin-bottom: 20px;
        margin-right: 0 !important;
    }
}