@media screen and (max-width: 1625px) {
    .single-post-inner h3 {
        font-size: 28px;
        line-height: 40px;

    }

    .alalysts-list{
        gap: 50px 50px;
    }


    .single-post-inner {
        padding: 20px 20px 20px 30px;
    }

    .post-list-item>h5 {
        font-size: 20px;
        line-height: 30px;
    }

    .blog-info-box-text {
        margin-right: 0;
    }

    .blog-info-box {
        justify-content: space-between;
    }

    .alalysts-list{
        gap: 50px 50px
    }
}

@media screen and (max-width: 1365px) {
    .blog-info-box {
        flex-direction: column;
        align-items: center;
    }

    .blog-info-box-text {
        max-width: 100%;
    }

    .right-side {
        margin-top: 50px;
        width: 100%;
        max-width: 400px;
    }
}

@media screen and (max-width: 1280px) {
    .single-post-inner h3 {
        font-size: 20px;
        line-height: unset;

    }

    .single-post-inner {
        padding: 20px 20px 20px 30px;
    }

    .post-list-item>h5 {
        font-size: 20px;
        line-height: 30px;
    }

    .post-list-items {
        flex-direction: column;
    }

    .post-list-item {
        width: 100%;
        margin-bottom: 50px;
    }

    .single-post {
        flex-direction: column;
    }

    .single-post .left-img-side {
        width: 100%;
    }

    .single-post-inner {
        width: 100%;
    }

    .continue-reading-content img,
    .single-post .left-img-side img,
    .post-list-item>img {
        height: 250px;
    }

    .continue-reading-content-texts>h5 {
        font-size: 18px;
        line-height: 27px;
    }

    .content-inner {
        flex-direction: column;
    }

    .vertical_line {
        display: none;
    }

    .right-box,
    .posts {
        width: 100%;
    }

    .right-box-tags {
        display: none;
    }

    .research .header-left {
        width: 276px;
    }

    .research .header-right {
        width: 250px;
    }
}

@media screen and (max-width: 865px) {

    .header-info h2 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 24px;
        text-align: center;
    }

    .blog-header span {
        margin-left: 0;
    }

    .blog-header {
        justify-content: center;
        height: 360px;
        align-items: center;
        text-align: center;
    }


    .header-info {
        flex-direction: column;
    }

    .left-nav {
        position: fixed;
        background: white;
        z-index: 9;
        width: 110px;
        left: -110px;
    }

    .research .content {
        max-width: 100%;
    }

    .header-right-user p {
        display: none;
    }

    .research .header {
        flex-direction: column;
    }

    .research .header-left {
        order: 1;
        width: 100%;
    }

    .research .header-right {
        width: 100%;
        margin-bottom: 25px;
    }

    .research .header-right-user .img-left {
        margin-right: 2px;
    }
}

@media screen and (max-width: 560px) {
    .alalysts-list{
        gap: 50px 0px;
    }

    .alalysts-list div{
        width: 100%;
    }
}

